
#listingForm {
    font-family: "Lato", sans-serif;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
}
.active{
    border-radius: 0;
}
.cta:hover{
background-color: #fff;
color: #000
}
.active:hover{
    border-color: #000;
}
select,
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    display: inline-block;
    box-sizing: border-box;
}
button {
    background-color: #fbb610;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #fbb610;
}
 
.details-container{
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 5%;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width:80%;
    margin:0 auto;
    padding: 40px;
}
.listing-container{
    margin-top: 50px;
}

@media screen and (max-width: 425px) {
    .listing-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10%;

    }

}
.details {
    justify-content: center;
    padding: 20px;
    width: 100%;
}

.btn-submit {
    background-color: #fbb610;
    color: #fff;
}
.page-dots {
    text-align: center;
    margin-top: 20px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}
.active-dot {
    background-color: #fbb610;
}
.cta{
    background-color: #fff;
} 
#nextButtonContainer{
    display: flex;
    justify-content: flex-end; /* Aligns children (the button) to the end (right) */
    margin-top: 20px;
}
#nextButtonContainer button{
    width: 28%;
    /* Removed justify-content: flex-end; from here */
}
#submitButtonContainer{
    display: flex;
    justify-content: flex-end; /* Aligns children (the button) to the end (right) */
    margin-top: 20px;
}