.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    opacity: 0.9;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 3%;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(../images/pexels-terry-magallanes-2988860.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    border: solid 1px #3E3D3C;
}

.hero {
    width: 70%;
    height: auto;
    text-align: center;
}

.profile-details {
    width: 100%;
}

.profile-details .detail-title {
    color: #ffb610;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 5px;
}

.listings {
    margin-bottom: 20%;
    padding: 10px;
    border-radius: 5px;
}

.empty-listings {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.empty-listings img {
    width: 30%;
    height: auto;
}

.delete {
    background-color: rgba(255, 0, 0, 0.676);
}