.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    opacity: 0.9;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 3%;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(../images/pexels-terry-magallanes-2988860.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 20px;
}

.hero {
    width: 70%;
    height: auto;
    text-align: center;
}

.profile-details {
    width: 100%;
}
.profile-details span {
    font-size: 1.3rem;
    color: #3E3D3C;
}

.profile-details .detail-title {
    color: #ffb610;
}
#edit-modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);

}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 5px;
}

.listings {
    margin-bottom: 20%;
    padding: 10px;
    border-radius: 5px;
}

.empty-listings {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.empty-listings img {
    width: 30%;
    height: auto;
}

.delete {
    background-color: rgba(255, 0, 0, 0.676);
}
.edit{
background-color: #3E3D3C;

}
.add {
    background-color: #ffb610;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
}