.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    opacity: 0.9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(./images/pexels-terry-magallanes-2988860.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    border: solid 1px #3E3D3C;
}

.hero {
    width: 70%;
    height: auto;
    text-align: center;
}

.profile-details {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 5px;
}

.listing {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.listing h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

.empty-listings {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;

}
.empty-listings img{
    width: 30%;
    height: auto;
    }
