* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    letter-spacing: 1.2px;
    line-height: 1.6;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 3.5rem;
    text-align: center;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}

h2 {
    text-align: center;
    font-size: 2.2rem;
    padding: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn {
    background-color: #f1f1f1;
    color: #000;
    height: 40px;
    border-radius: 4px;
    min-width: 100px;
    margin: auto;
}

.btn:hover {
    background-color: #f5c24a;
}

@media screen and (max-width:945px) {
    h2 {
        font-size: 1.6rem;
    }

}

@media screen and (max-width: 600px) {
    p {
        font-size: 1rem;
    }
}

h5 {
    font-size: 1.1rem;
    padding: 10px;
}


#navigation {
    top: 0;
    width: 100%;
    z-index: 1000;
}

.icon{
width: 40px;
border-radius: 50%;

}

.logo {
    font-size: 1.4rem;
    margin-right: auto;
    display: flex; 
    align-items: center;
}

nav span {
    color: #fbb610;
    margin-left: 10px;
}

nav {
    overflow: hidden;
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

nav a {
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    transition: 0.3s all;
    font-size: 1.2rem;
}

nav a:hover {
    border-bottom: solid 2px #fbb610;
}

.active {
    border-bottom: solid 2px #fbb610;
    transition: all 0.3s ease-in-out;
}
.active:hover{
    border-bottom: solid 2px #000;
    color: #fbb610;
}
.sticky-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fffefe;
    color: #000;
    transition: all 0.3s ease-in-out;
}
.sticky-nav nav a{
    color: #000;
}
.credentials {
    margin-left: auto;
}
.sticky-nav .credentials i{
    color: #f5c24a;
}
.cta {
    background-color: #fbb610;
    color:#fff;
    border-radius: 10px;
    padding: 8px 15px;
    margin-left: 15px;
}

.cta:hover {
    border-bottom: none;
    background-color: #3E3D3C;
    color: #fff;
}

.menu {
    display: none;
    background-color: #fbb610;
    border: none;
    color: #f1f1f1;
    font-size: 26px;
    padding: 10px;
    cursor: pointer;
    position: relative;
}

@media screen and (max-width: 600px) {
    .menu {
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
    }

    #navigation {
        background-color: #f5c24a;
    }
}

.add {
    background-color: #f8f8f896;
    border-radius: 10px;
    padding: 8px 15px;
    margin-left: 15px;
}

.navbar {
    background-color: #f5c24a;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

.search {
    padding: 0;
    margin: 0;
    border: none;
    line-height: normal;
}

.menu {
    display: none;
    background-color: #fbb610;
    border: none;
    color: #f1f1f1;
    font-size: 26px;
    padding: 10px;
    cursor: pointer;
    position: relative;

}

.text {
    padding: 10px;
    border: none;
    font-size: 17px;
}


@media screen and (max-width: 600px) {
    .text {
        padding: 10px;
        border: none;
        font-size: 13px;
    }

    nav span {
        color: #fff;
    }

    nav {
        display: none;
        max-height: 0;
        top: 70px;
        position: absolute;
        background-color: #fbb610;
        width: 100%;
        transition: all 0.3s ease;
    }

    nav a {
        border-radius: 4px;
        color: #000;

    }

    .cta {
        height: max-content;
        background-color: #f7cb63;
        color: #fff;
    }

    nav a:hover {
        background-color: #fbb610;
        color: #fff;
    }

    .active {
        background-color: #f5c24a;
        color: #fff;
    }
.logo{
    display: block;
    text-align: center;
}
.logo b{
    display: block;
}
    nav a,
    .search-container {
        float: none;
        display: block;
        text-align: center;
        box-sizing: border-box;
    }

    .search-container {
        width: 80%;
        margin: 0 10%;
        height: 40px;
    }

    input[type=text] {
        width: 80%;
        margin-top: 8px;

    }

    .menu {
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .logo {
        margin-right: auto;
        font-size: 1.4rem;
    }

    nav.show {
        max-height: 500px;
        position: static;
    }
}

/*header*/
#header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(./images/pexels-terry-magallanes-2988860.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.desc {
    padding-top: 150px;
    color: #ffffff;
    margin: 0 auto;
    width: 85%;
    text-align: center;
    line-height: 1.5;
}

.desc h1 {
    font-size: 3.5rem;
    padding: 10px 0;
}

.desc p {
    padding: 0 0 20px 0;
}

.desc button {
    height: 40px;
    width: 120px;
    background-color: #fbb610;
    color: #fff;
    margin: 0;
    padding: 0;
    border: none;
}


/*Best-sellers*/
#best-sellers {
    padding: 1%;
    margin: 6% 0;
    display: flex;
}

.details {
    flex: 1;
    /* Adjusting height to match the text content */
    height: max-content;
}

.details img {
    /* Setting max-width to prevent image from overflowing */
    max-width: 100%;
    /* Setting max-height to make sure image doesn't exceed text height */
    max-height: 100%;
    /* Ensuring the image maintains aspect ratio */
    object-fit: contain;
}

.description {
    flex: 1;
    margin: auto 5%;
    font-size: 1.3rem;
    margin-bottom: 30px;
}

#browse {
    margin: 5% auto;
    padding-bottom:5%;
    text-align: center;
    background-color: #f1f1f1;
    /* Center align content */
}
#browse h2{
    padding: 3% 0;
}

#browse button {
    padding: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50px;
}

.items {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
    justify-content: center;
    list-style: none;
    padding: 0;
    padding: 0 5%;
    overflow: hidden;
    margin-bottom: 40px;
}

.item {
    height: 180px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: last baseline;
    border-radius:4px;
    border: #00000000 solid 1px;
    position: relative;

}

.item a {
    color: #fff;
    padding: 10px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius:4px;
    display: block;
    position: absolute;
    bottom: 10;
    left: 0;
    right: 0;
    text-decoration: none;
    transition: background-color 0.3s ease;
    overflow: hidden;
}


.item:nth-child(1) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('images/table.jfif');
}

.item:nth-child(2) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('images/tv.jfif');
}

.item:nth-child(3) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('images/sofa.jfif');
}

.item:nth-child(4) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('images/bed.jpeg');
}

.item:nth-child(5) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('./images/download.jfif');
}

@media screen and (max-width: 600px) {
    .desc {
        padding-top: 70px;
    }
    .desc h1{
        font-size: 2.5rem;
    }
    .items {
        grid-template-columns: repeat(2, 1fr);
    }

    .item {
        height: 140px;

    }

    #best-sellers {
        display: block;
    }
}

#best-sellers {
    margin: 5% auto;
    width: 90%;
}

.description p {
    line-height: 2;
}

/*Most Popular*/
#most-popular {
    padding: 0 5%;
}
#most-popular h2 {
    color: #fbb610;
}
.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5em;
    width: 100%;
}

#productCard {
    text-align: center;
    border-radius: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    transform: scale(1.0);
    transition: transform 0.4s;
    background-color: #f1f1f1;
    height: 100%;
    width: 100%;
}

.image_content {
    height: 12rem;
    width: 100%;
}

.image_content img {
    border-radius: 14px 14px 0 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-content .btn {
    margin: 5% auto;
}

#productCard:hover {
    transform: scale(1.007);
    padding: 1;
    cursor: pointer;
}

.text-content {
    height: 100%;
    width: 100%;
}

.item-details {
    display: flex;
    margin: 0 10% 0;
    gap: 5px;
    flex-wrap: wrap;
    color: rgb(94, 93, 93);
}

.item-description {
    overflow: hidden;
    font-size: 1rem;
    padding-top: 20px;

}

.item-details p {
    background-color: rgb(225, 222, 222);
    border-radius: 4px;
    font-size: 14px;
    padding: 2px;
}

.item-title {
    font-size: 18px;
    margin-top: 10px;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .row {
        grid-template-columns: repeat(2, 1fr);
    }
    .item-title {
        font-size: 12px;
    }
    .item-details p {
        font-size: 10px;
    }
    .item-description {
        overflow: hidden;
        font-size: 0.75rem;
        padding-top: 10px;
    }
}

/*form*/
.form {
    display: flex;
    justify-content: center;
}

.sign label {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    color: #f5c24a;
}

.sign {
    border: 3px solid #f1f1f1;
    width: 500px;
    margin-bottom: 50px;
    text-align: center;
    background-repeat: no-repeat;
    background-color: white;
    border: 3px solid #f1f1f1;
    margin-bottom: 50px;
    border-style: ridge;
    margin: 20px;
}

.email input[type=text],
.textarea,
input[type=email],
input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4rem;

}

.remember {
    text-align: left;
    margin-top: 50px;
    margin-left: 50px;
    display: block;
}

.submit {
    width: 30%;
    padding: 10px 18px;
    background-color: #000;
    color: white;
    margin-bottom: 30px;
    border-radius: 2rem;
    margin-top: 4%;
    background-color: #f5c24a;
    transition: 0.08s;
}

.submit:hover {
    opacity: 0.8;
    transition: 0.02s;
    color: #f1f1f1;

}

.title {
    text-align: center;
    margin: 8% 0;
    font-size: 1.2rem;
    padding: 0 10%;
}

.title h4 {
    font-size: 2.1875rem;
    text-decoration: dotted;
}

input[type=text]:hover,
input[type=password]:hover,
input[type=email]:hover,
textarea:hover {
    background-color: rgb(182, 181, 181);
    outline: none;
}

input[type=submit] {
    font-size: 1.1rem;
    background-color: white;
    color: black;
    resize: vertical;
    border-radius: 4rem;
    padding: 10px 20px;
    margin-bottom: 20px;

}

/*FAQ*/
#faq{
    background-color: #f7f7f7;
    margin-top:  15%;
    padding-bottom:5%;
}
#faq h2 {
    color: #fbb610;
}

.accordion {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 0 15%;
}

.accordion-title {
    cursor: pointer;
    padding: 10px;
    margin: 0;
    background-color: #f7f7f7;
    border-top: 1px solid #ccc;
    display: flex; 
    align-items: center;
}

.accordion-title i {
    justify-content: flex-end;
    margin-left: auto;
}

.active .accordion-content {
    border-bottom: solid 2px #fbb610;
    color: #000;
    border-bottom: none;
}

.active .accordion-title {
    color: #000;
}

.accordion-content {
    display: none;
    padding: 10px;
}

.active .accordion-content {
    display: block;
}

/*footer*/
#footer {
    padding: 1% 8%;
    background-color: #3E3D3C;
}
#footer a{
    color: #fff;
    padding: 10px 0;
}
#footer a:hover{
    border-bottom: 1.5px solid #fbb610;
}
.footer-main {
    /* background-color: #f2f2f2; */
    border-bottom: solid 3px white;
}

.footer-main span {
    color: #fbb610;
    margin: 20px 0;
    font-size: x-large;
    align-items: center;
    justify-content: center;
}

.contain {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 2%;
}

.contained li {
    padding: 0 0 20px;
}

.contained li a:hover {
    transition: 0.1s;
    background-repeat: no-repeat;
}

@media screen and (max-width:700px) {
    .contained ul {
        padding-inline-start: 25px;
    }

    .contained ol {
        padding-inline-start: 25px;
    }

    .contained ol li a {
        font-size: 18px;
    }

    .contained span {
        font-size: 20px;
        margin-bottom: 10px;
        border: none;
    }

    .footer-main {
        padding-bottom: 20px;
    }
}

@media screen and (max-width:400px) {
    .contain {
        grid-template-columns: 1fr;
    }

    .contained ul {
        padding-inline-start: 30px;

    }

    .contained ol {
        padding-inline-start: 30px;
    }

    .contained {
        width: 100%;
        justify-content: left;
        justify-items: left;
    }

    .contained li a {
        font-size: 16px;
        width: 100%;

    }

    .contained h4 span {
        font-size: 17px;
        margin-bottom: 0;
    }

    .footer-main {
        padding-bottom: 20px;
    }

    footer p {
        font-size: 18px;
    }

}
#subscribe-section {
    background-color: #3E3D3C;
    color: #fff;
    padding: 50px;
    text-align: center;
}

.subscribe-content {
    max-width: 600px;
    margin: 0 auto;
}


.subscribe-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: #fff;
}

.subscribe-form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
}

.subscribe-form button {
    padding: 10px 20px;
    background-color: #fbb610;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.subscribe-form button:hover {
    background-color: #ffca3a;
}
